.admin-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

input#file-upload-button {
    color: aqua;
}

.choose-files-btn {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0.75rem 1rem;
    padding-top: 25px;
    border: 0;
    border-radius: 0.317rem;
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.submit-btn {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0.75rem 1rem;
    padding-top: 8px;
    border: 0;
    border-radius: 0.317rem;
    background-color: rgb(171, 255, 163);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}